.homepage {
    width: 100%;
    height: fit-content;
    z-index: 0;
}

.homepage_first {
    width: 100%;
    height: 51vw;
    position: relative;
    top: -8px;
    z-index: 1;
}

.homepage_first_title {
    font-size: 1.7vw;
    letter-spacing: 0.25vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 61vw;
    left: 10vw;
    z-index: 2;
}

.homepage_first_text {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 65vw;
    left: 10vw;
    z-index: 2;
    line-height: 2vw;
}

.homepage_second_title {
    font-size: 1.7vw;
    letter-spacing: 0.25vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 76vw;
    left: 10vw;
    z-index: 2;
}

.homepage_second_text {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 80vw;
    left: 10vw;
    z-index: 2;
    line-height: 2vw;
}

.homepage_third_title {
    font-size: 1.7vw;
    letter-spacing: 0.25vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 89vw;
    left: 10vw;
    z-index: 2;
}

.homepage_third_text {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 93vw;
    left: 10vw;
    z-index: 2;
    line-height: 2vw;
}

.homepage_fourth_title {
    font-size: 1.7vw;
    letter-spacing: 0.25vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 98vw;
    left: 10vw;
    z-index: 2;
}

.homepage_fourth_text {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    color: rgb(250, 241, 215);
    position: absolute;
    top: 102vw;
    left: 10vw;
    z-index: 2;
    line-height: 2vw;
}